{% extends "base.html" %}

{% block title %}Zaid Rangoonwala | Tech Stack{% endblock %}

{% block content %}
<section class="tech-stack-container">
    <h1 class="glitch" data-text="My Tech Stack">My Tech Stack</h1>
    <div class="hexagon-grid">
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fab fa-html5"></i>
                <span>HTML5</span>
            </div>
        </div>
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fab fa-css3-alt"></i>
                <span>CSS3</span>
            </div>
        </div>
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fab fa-js"></i>
                <span>JavaScript</span>
            </div>
        </div>
        <!-- <div class="hexagon">
            <div class="hexagon-content">
                <i class="fab fa-react"></i>
                <span>React</span>
            </div>
        </div> -->
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fab fa-node-js"></i>
                <span>Node.js</span>
            </div>
        </div>
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fab fa-python"></i>
                <span>Python</span>
            </div>
        </div>
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fas fa-database"></i>
                <span>SQL</span>
            </div>
        </div>
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fab fa-git-alt"></i>
                <span>Git</span>
            </div>
        </div>
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fas fa-mobile-alt"></i>
                <span>Responsive Design</span>
            </div>
        </div>
        <div class="hexagon">
            <div class="hexagon-content">
                <i class="fas fa-server"></i>
                <span>RESTful APIs</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
